<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>LANGO</title>
    <link rel="stylesheet" href="../../app.css">

</head>

<body>
    <header>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1><img src="images/logo3.png" alt="" /></h1>
                    </div>
                    <div class="col-md-9">
                        <nav>
                            <ul>
                                <li><a class="btn btn-info" href="german.php">German</a></li>
                                <li><img src="images/gm.png" alt="" /></li>
                                <li><a class="btn btn-info" href="spanish.php">Spanish</a></li>
                                <li><img src="images/sp.png" alt="" /></li>
                                <li><a class="btn btn-info" href="dutch.php">Dutch</a></li>
                                <li><img src="images/nl.png" alt="" /></li>
                                <li><a class="btn btn-warning" href="chat.php">Chat</a>
                                    <li><a class="btn btn-warning" href="admin.php">Admin</a></li>
                                    <li><a class="btn btn-warning" href="home.php">Home</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>