<div class="row panel panel-primary">
    <div class="panel-heading">
        <h4>Testul .... </h4>
    </div>
    <div class="row">
    <div class="col-sm-6 panel-body" ng-repeat = "question in questions">
        <div class="container"><p> {{question.text}}</p></div>
        <div class="radio" ng-repeat ="answer in question.answers" ng-click = "setValue(answer.correct, answer.id, question.id)">
            <label>
                <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" > {{answer.text}};
              </label>
        </div>
    </div>
    <div class="col-sm-6">
        ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    </div>
    </div>
    <!-- /panel-body -->
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="submit(); showScore()">Submit answers</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-7" ng-repeat="comment in comments">
        <div class="pull-right">
           <button class="btn btn-danger" ng-click="deleteComment(comment.id)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href=""><b>{{comment.user.username}}</b></a>
                        made a post.
                    </div><!--
                    <h6 class="text-muted time">1 minute ago</h6>-->
                </div>
            </div>
            <div class="post-description">
                <p>{{comment.text}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row col-sm-7" >
    <div class="form-group">
        <button class="btn btn-default" ng-click="addComment(commentText)">Add comment</button>
        <textarea class="form-control" rows="5" id="comment" ng-model = "commentText"></textarea>
    </div><br>
</div>
    <!-- panel footer -->

<!-- /panel-primary -->