<div class="container">
    <div class="row">
        <h2>Add a new question</h2>

        <form class="form-horizontal" name="addQuestionForm">
            <fieldset>

                <!-- Form Name -->
                <legend>Complete the form and submit</legend>

                <div class="alert alert-success" ng-show="addedQuestion == true">
                    <strong>Success!</strong> Your question has been succesfuly added.
                </div>
                <div class="alert alert-warning" ng-show="invalidQuestionForm == true">
                    <strong>Warning!</strong> Please complete all fields.
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Question </label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="questionName" name="textinput" placeholder="Question" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>



                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Category</label>
                    <div class="col-md-4">
                        <label for="sel3">Select value:</label>
                        <select class="form-control" id="sel3" ng-model="category" required>
                            <option ng-repeat="category in ['OTHER','MUSIC','THEATRE','SPORTS','TECHNOLOGY'] track by $index">{{category}}</option>
                        </select>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Answers</label>
                    <div class="col-md-4">
                        <label for="sel1">Select Location:</label>
                        <select ng-model="answer" class="form-control" id="sel1" required>
                            <option ng-repeat="location in locations">{{location.locationName}}</option>
                        </select>
                    </div>
                </div>


                <!-- Text input
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Is Free </label>
                    <div class="col-md-4">
                        <label for="sel4">Select value:</label>
                        <select class="form-control" id="sel4" ng-model="isFree" required>
                            <option ng-repeat="isFree in ['false','true'] track by $index">{{isFree}}</option>
                        </select>
                    </div>
                </div>-->

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"> </label>
                    <div class="col-md-4">
                        <button ng-click="addEvent(questionName,category,answer)" name="singlebutton" class="btn btn-primary">Add Question</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>