<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin Pannel
                <small></small>
            </h1>
            <p>Here you can add your locations , organizers and events for your site</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Tabs:</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../components/images/admin.jpg" alt="">
            <h3 ng-click="goToLocations()"><a href="">Locations</a></h3>
            <p>Here you can add Locations for an Event.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../components/images/admin.jpg" alt="">
            <h3 ng-click="goToOrganizers()"><a href="">Organizers</a></h3>
            <p>Here you can add Locations for an Organizer.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../components/images/admin.jpg" alt="">
            <h3 ng-click="goToEvents()"><a href="">Events</a></h3>
            <p>Here you can add an Event.</p>
        </div>
    </div>
    <hr>
</div>