<div class="container">
    <div class="row">
        <h2>Create Account</h2>

        <form class="form-horizontal" name="registerForm">
            <fieldset>

                <!-- Form Name -->
                <legend>Complete the form and submit</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">First name </label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="firstName" name="textinput" placeholder="First Name" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Last name</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="lastName" name="textinput" placeholder="Last Name" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Birthdate</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Country</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="country" name="textinput" placeholder="Country" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">E-mail</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="email" name="textinput" placeholder="Email" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Phone</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="phone" name="textinput" placeholder="Phone" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Username</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="username" name="textinput" placeholder="Username" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Password</label>
                    <div class="col-md-4">
                        <input id="textinput" ng-model="password" name="textinput" placeholder="Password" class="form-control input-md" required type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>




                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"> </label>
                    <div class="col-md-4">
                        <button ng-click="register(firstName, lastName, dt, country, email, phone, username, password)" name="singlebutton" class="btn btn-success">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
